.input-container {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}

.input-box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.input-box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.2);
  outline: none;
}

.input-submit {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  background-color: #2f74c0;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.input-submit:hover {
  background-color: #388ae2;
}

.input-submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.todos-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  width: 95%;
}

.tasks-section {
  display: flex;
  width: 47.5%;
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
  background-color: rgb(148, 181, 243);
  box-shadow: 2px 2px 8px black;
  flex-wrap: wrap;
}

.completed {
  background-color: rgb(250, 133, 112);
}

.tasks-section--heading {
  width: 100%;
  font-size: 30px;
  text-align: center;
}

.todo-card-container {
  display: flex;
  width: 100%;
  border-radius: 5px;
  padding: 16px;
  margin: 5px;
  background-color: yellow;
  transition: 0.2s;
}

.todo-card-container:hover {
  box-shadow: 1px 1px 5px black;
  transform: scale(1.03);
}

.todo-card--text {
  flex: 1;
  border: none;
  padding: 5px;
  font-size: 20px;
  outline: none;
}

.tod-card--text:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

.edit-todo-input {
  padding: 5px;
  font-size: 16px;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .todos-container {
    width: 90%;
    flex-direction: column;
  }

  .tasks-section {
    width: 90%;
    margin-top: 20px;
  }
}
